.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.selectedPage {
    font-weight: bold;
    color: tomato;
}

.paginator button {
    width: fit-content;
    height: 25px;
    border-radius: 12px;
    margin: 10px;
}

.paginator span {
    border-color: #d9ebe9;
    margin: 2px;
    text-decoration: #44535e;
    font-family: monospace;
    border-radius: 3px;
}