.formControl.error input, .formControl.error textarea {
    border: solid red 10px;
    }

.formControl.error span {
    text-decoration: red;
}

.formSummaryError{
    padding: 5px;
    color: red;
}